/Gradle__junit_junit_4_11.xml
/Gradle__log4j_log4j_1_2_17.xml
/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/Gradle__org_mockito_mockito_all_1_9_5.xml
/Gradle__org_slf4j_slf4j_api_1_7_21.xml
/Gradle__org_slf4j_slf4j_log4j12_1_7_21.xml
